@model IEnumerable<DemoWebApp.Models.Product>

@{
    ViewData["Title"] = "Händlerzugriff";
}

<body>
    <div class="">
        <div class="product-db">
            <h3>Produktdatenbank</h3>
            <p> Hier können die Produkte verwaltet werden.</p>

            <p>
                <a asp-action="Create">Neues Produkt hinzufügen</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>Name</p>
                        </th>
                        <th>
                            <p>Preis</p>
                        </th>
                        <th>
                            <p>Bilddatei-Link</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageUrl)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Entfernen</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="empty">
            <br />
        </div>

        <div class="customer-db">
            <h3>Kundendatenbank</h3>
            <p> Hier kann der Kundenstamm verwaltet werden.</p>

            <p>
                <a asp-action="Create">Neues Produkt hinzufügen</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>Name</p>
                        </th>
                        <th>
                            <p>Preis</p>
                        </th>
                        <th>
                            <p>Bilddatei-Link</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageUrl)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Entfernen</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
