@model IEnumerable<DemoWebApp.Models.Customer>

@{
    ViewData["Title"] = "Kundendatenbank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="carpet">
        <h1>@ViewData["Title"]</h1>
        <p> Auf dieser Seite kann der Kundenstamm verwaltet werden.</p>

        <p>
            <a asp-action="Create">Neuen Kunden hinzufügen</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p>Name</p>
                    </th>
                    <th>
                        <p>Kreditkartennummer</p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                            @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                            @item.CreditCardNo.Substring(0,80)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Entfernen</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</body>